In [28]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv')
df

       Unnamed: 0  ... Other_Sales
0               1  ...           0
1               2  ...        0.01
2               3  ...           0
3               4  ...           0
4               5  ...        0.04
...           ...  ...         ...
16593       16594  ...        0.01
16594       16595  ...           0
16595       16596  ...        0.13
16596       16597  ...        0.03
16597       16598  ...        0.01

[16598 rows x 10 columns]

# 데이터 전반 이슈

In [30]:
df.shape

(16598, 10)

In [31]:
df.dtypes # 변수별 데이터 타입 확인

Unnamed: 0       int64
Name            object
Platform        object
Year           float64
Genre           object
Publisher       object
NA_Sales        object
EU_Sales        object
JP_Sales        object
Other_Sales     object
dtype: object

00_Sales들이 매출액일텐데 object로 되어 있음

In [32]:
df.isnull().sum() # 변수별 결측치 갯수 파악

Unnamed: 0       0
Name             0
Platform         0
Year           271
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

Year, Genre, Publisher에 결측치 있음

Unnamed: 0가 index번호로 볼 수 있는데 사용할 수도 있으니 쉬운 변수명으로 바꾸면

In [33]:
df.columns

Index(['Unnamed: 0', 'Name', 'Platform', 'Year', 'Genre', 'Publisher',
       'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales'],
      dtype='object')

In [34]:
df.rename(columns = {df.columns[0]: 'id'}, inplace = True)
df.columns

Index(['id', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales'],
      dtype='object')

# 2. 변수별 이슈

## 2.1 Name 
게임의 이름  
object / 결측치 X

In [35]:
len(df.Name)

16598

In [36]:
df.Name.unique()

array(["Candace Kane's Candy Factory", 'The Munchables',
       'Otome wa Oanesama Boku ni Koi Shiteru Portable', ...,
       'White Album: Tsuzurareru Fuyu no Omoide', 'Minna no Chizu 2',
       'Rainbow Islands: Revolution'], dtype=object)

In [37]:
len(df.Name.unique()) # 16598 -> 11493으로 줄어든 것을 보니 중복되는 게임명이 있음을 확인!

11493

In [38]:
df.Name.value_counts() # 게임별 빈도수 ~ 나중에 사용할 수 있어 보임

Need for Speed: Most Wanted                    12
Ratatouille                                     9
FIFA 14                                         9
Madden NFL 07                                   9
LEGO Marvel Super Heroes                        9
                                               ..
Vampire Moon: The Mystery of the Hidden Sun     1
G1 Jockey 3                                     1
Slam Dunk SD Heat Up!!                          1
Worldwide Soccer Manager 2008                   1
Sports Car GT                                   1
Name: Name, Length: 11493, dtype: int64

In [39]:
# uniq_name_count = df.Name.value_counts()
# uniq_name_count[uniq_name_count > 1]
# uniq_name_count[uniq_name_count > 1].index.tolist() # 중복된 게임명들 리스트로
# df[df.Name.isin(uniq_name_count[uniq_name_count > 1].index.tolist())] # 중복된 게임들만 따로 뽑기

In [40]:
# uniq_name_count[uniq_name_count > 1].index[0]
# df[df.Name == uniq_name_count[uniq_name_count > 1].index[0]]

## 2.2 Platform
게임 지원되는 플랫폼의 이름 = 게임기  
object / 결측치 X

In [41]:
df.Platform.unique()

array(['DS', 'Wii', 'PSP', 'PS3', 'PC', 'PS', 'GBA', 'PS4', 'PS2', 'XB',
       'X360', 'GC', '3DS', '2600', 'SAT', 'GB', 'NES', 'DC', 'N64',
       'XOne', 'SNES', 'WiiU', 'PSV', 'GEN', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

2600이 심상치 않아 보인다.. 👀

In [42]:
df[df.Platform == '2600']

          id                                Name  ... JP_Sales  Other_Sales
37        38                           Beamrider  ...        0            0
210      211                       Mountain King  ...        0            0
664      665  Smurf: Rescue In Gargamel's Castle  ...        0         0.01
820      821                    Fantastic Voyage  ...        0            0
877      878                         Deadly Duck  ...        0            0
...      ...                                 ...  ...      ...          ...
16263  16264                     Frogs And Flies  ...        0            0
16275  16276                      Space Invaders  ...       0M         0.03
16317  16318                             Polaris  ...        0            0
16363  16364            Pitfall II: Lost Caverns  ...        0         0.02
16472  16473                    Custer's Revenge  ...        0         0.01

[133 rows x 10 columns]

제일 첫 줄에 'Beamrider'와 '2600'을 함께 검색해보니 'Atari 2600'이라는 게임기가 있었던 모양이다. 😊
https://ko.wikipedia.org/wiki/%EC%95%84%ED%83%80%EB%A6%AC_2600

## 2.3 Year

In [43]:
df.Year.unique()

array([2008., 2009., 2010., 2005., 2011., 2007., 2001., 2003., 2006.,
       2014., 2015., 2002., 1997., 2013., 1996., 2004., 2000.,   nan,
       1984., 1998., 2016., 1985., 1999.,    9.,   97., 1995., 1993.,
       2012., 1987., 1982.,   11., 1994., 1990.,   15., 1992., 1991.,
       1983., 1988., 1981.,    3., 1989.,   96.,    6.,    8., 1986.,
          1.,    5.,    4.,   10.,   98.,    7.,   16.,   86.,   14.,
         95., 2017., 1980., 2020.,    2.,   13.,    0.,   12.,   94.])

In [44]:
np.set_printoptions(suppress=True)
df.Year.unique()

array([2008., 2009., 2010., 2005., 2011., 2007., 2001., 2003., 2006.,
       2014., 2015., 2002., 1997., 2013., 1996., 2004., 2000.,   nan,
       1984., 1998., 2016., 1985., 1999.,    9.,   97., 1995., 1993.,
       2012., 1987., 1982.,   11., 1994., 1990.,   15., 1992., 1991.,
       1983., 1988., 1981.,    3., 1989.,   96.,    6.,    8., 1986.,
          1.,    5.,    4.,   10.,   98.,    7.,   16.,   86.,   14.,
         95., 2017., 1980., 2020.,    2.,   13.,    0.,   12.,   94.])

In [45]:
sorted(df.Year.unique()) # 오름차순으로 정리를 해보면

[0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 86.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 nan,
 2016.0,
 2017.0,
 2020.0]

In [46]:
len(df[df.Year < 100]) #  한 자리 & 두 자리로 표현된 Year : 100개

100

In [47]:
len(df[df.Year >= 1000]) # 4자리로 표현된 Year : 16227 개

16227

In [48]:
df.Year.isnull().sum() # 결측치 : 271개

271

In [49]:
len(df.Year) # 총 데이터 수 : 16598

16598

In [50]:
len(df[df.Year < 100]) + len(df[df.Year >= 100]) + df.Year.isnull().sum() # 총 Year변수 항목과 같다!

16598

Year 변수는 100개의 yy형식과 16227개의 yyyy형식, 결측치 271개로 이루어져 있으며 yy형식을 yyyy형식으로 고쳐줄 필요가 있어보인다.  
최초의 컴퓨터 게임이 1950년대 나왔다는 것을 보면  [여기](https://ko.wikipedia.org/wiki/%EB%B9%84%EB%94%94%EC%98%A4_%EA%B2%8C%EC%9E%84%EC%9D%98_%EC%97%AD%EC%82%AC)  

0\~16 -> 2000 \~ 2016  
86\~98 -> 1986\~1998  
이렇게 변경하는 것이 합리적이다.  
실제로 Year의 값이 16보다 작은 데이터들 중 10개를 직접 검색해보니 0\~16까지의 데이터는 2000 \~ 2016에 해당함을 확인했다.
https://www.mobygames.com/ 참고

In [51]:
df[df['Year'] < 10]

          id  ... Other_Sales
74        75  ...        0.03
768      769  ...        0.14
1015    1016  ...        0.01
1220    1221  ...        0.25
1364    1365  ...        0.19
1409    1410  ...        0.01
1684    1685  ...        0.07
2249    2250  ...        0.09
2454    2455  ...        0.13
2467    2468  ...           0
2548    2549  ...        0.02
2843    2844  ...        0.01
3108    3109  ...        0.03
3746    3747  ...           0
3879    3880  ...        0.03
4076    4077  ...        0.02
4746    4747  ...        0.01
4800    4801  ...           0
5314    5315  ...        0.02
6130    6131  ...        0.01
7055    7056  ...           0
7178    7179  ...        0.03
7362    7363  ...        0.01
7600    7601  ...           0
7845    7846  ...           0
8144    8145  ...           0
8509    8510  ...        0.05
8583    8584  ...           0
8681    8682  ...         0.2
8765    8766  ...           0
8912    8913  ...           0
8928    8929  ...        0.02
9080    9081  ...           0
9276    9277  ...           0
9326    9327  ...        0.02
9890    9891  ...        0.01
10357  10358  ...           0
10406  10407  ...           0
11163  11164  ...           0
11236  11237  ...           0
12495  12496  ...           0
12636  12637  ...           0
13739  13740  ...           0
14161  14162  ...        0.01
14666  14667  ...        0.01
15260  15261  ...        0.03
15263  15264  ...           0
15442  15443  ...           0
15511  15512  ...        0.01
15612  15613  ...        0.02
16103  16104  ...           0
16149  16150  ...        0.05
16394  16395  ...           0

[53 rows x 10 columns]

In [52]:
df1 = df.copy()

In [53]:
def yy_to_yyyy(x):
    if x <= 16:
        return x +2000
    elif x < 100:
        return x +1900
    else :
        return x

In [54]:
df1['Year'].apply(yy_to_yyyy)

0        2008.0
1        2009.0
2        2010.0
3        2010.0
4        2010.0
          ...
16593    2006.0
16594    2005.0
16595    2015.0
16596    2013.0
16597    1996.0
Name: Year, Length: 16598, dtype: float64

In [55]:
sorted(df1['Year'].apply(yy_to_yyyy).unique())

[1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 nan,
 2016.0,
 2017.0,
 2020.0]

In [56]:
df1.Year.apply(lambda x: (x<= 16 and x+2000) or (x<100 and x + 1900) or x) # 방식2

0        2008.0
1        2009.0
2        2010.0
3        2010.0
4        2010.0
          ...
16593    2006.0
16594    2005.0
16595    2015.0
16596    2013.0
16597    1996.0
Name: Year, Length: 16598, dtype: float64

In [57]:
np.equal(df1['Year'].apply(yy_to_yyyy), df1.Year.apply(lambda x: (x <= 16 and x+2000) or (x<100 and x + 1900) or x)).sum() # 두 방식의 결과가 같음을 알 수 있다.

16327

In [58]:
df1.Year.isnull().sum()

271

In [59]:
16327 + 271

16598

In [60]:
len(df1.Year)

16598

In [61]:
df1['Year'] = df1['Year'].apply(yy_to_yyyy) # Year를 yyyy형식과 결측값만 남도록 함

In [62]:
sorted(df1.Year.unique())

[1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 nan,
 2016.0,
 2017.0,
 2020.0]

## 2.4 Genre
결측치 50개 외에 특별한 점은 보이지 않는다.

In [63]:
df1.Genre.isnull().sum()

50

In [64]:
df1.Genre.unique()

array(['Action', 'Adventure', 'Misc', 'Platform', 'Sports', 'Simulation',
       'Racing', 'Role-Playing', 'Puzzle', 'Strategy', 'Fighting',
       'Shooter', nan], dtype=object)

## 2.5 Publisher
결측치 58개 + Unknown 203개(결측치로 바꿔야함)

In [65]:
df1.Publisher.isnull().sum()

58

In [66]:
df1.Publisher.value_counts()

Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
                                ...
MLB.com                            1
49Games                            1
Pacific Century Cyber Works        1
Phantom EFX                        1
Activision Blizzard                1
Name: Publisher, Length: 578, dtype: int64

In [67]:
sorted(df1.Publisher.unique().astype(str))

['10TACLE Studios',
 '1C Company',
 '20th Century Fox Video Games',
 '2D Boy',
 '3DO',
 '49Games',
 '505 Games',
 '5pb',
 '7G//AMES',
 '989 Sports',
 '989 Studios',
 'AQ Interactive',
 'ASC Games',
 'ASCII Entertainment',
 'ASCII Media Works',
 'ASK',
 'Abylight',
 'Acclaim Entertainment',
 'Accolade',
 'Ackkstudios',
 'Acquire',
 'Activision',
 'Activision Blizzard',
 'Activision Value',
 'Adeline Software',
 'Aerosoft',
 'Agatsuma Entertainment',
 'Agetec',
 'Aksys Games',
 'Alawar Entertainment',
 'Alchemist',
 'Alternative Software',
 'Altron',
 'Alvion',
 'American Softworks',
 'Angel Studios',
 'Answer Software',
 'Aqua Plus',
 'Aques',
 'Arc System Works',
 'Arena Entertainment',
 'Aria',
 'Arika',
 'ArtDink',
 'Aruze Corp',
 'Ascaron Entertainment',
 'Ascaron Entertainment GmbH',
 'Asgard',
 'Asmik Ace Entertainment',
 'Asmik Corp',
 'Aspyr',
 'Astragon',
 'Asylum Entertainment',
 'Atari',
 'Athena',
 'Atlus',
 'Avalon Interactive',
 'Avanquest',
 'Avanquest Software',
 'Axela',
 'BAM! Entertainment',
 'BMG Interactive Entertainment',
 'BPS',
 'Banpresto',
 'Benesse',
 'Berkeley',
 'Bethesda Softworks',
 'Big Ben Interactive',
 'Big Fish Games',
 'Bigben Interactive',
 'Black Bean Games',
 'Black Label Games',
 'Blast! Entertainment Ltd',
 'Blue Byte',
 'Bohemia Interactive',
 'Bomb',
 'Boost On',
 'Brash Entertainment',
 'Broccoli',
 'BushiRoad',
 'CBS Electronics',
 'CCP',
 'CDV Software Entertainment',
 'CPG Products',
 'CTO SpA',
 'Capcom',
 'Cave',
 'ChunSoft',
 'City Interactive',
 'Cloud Imperium Games Corporation',
 'Coconuts Japan',
 'Codemasters',
 'Codemasters Online',
 'CokeM Interactive',
 'Coleco',
 'Comfort',
 'Commseed',
 'Compile',
 'Compile Heart',
 'Conspiracy Entertainment',
 'Core Design Ltd.',
 'Crave Entertainment',
 'Creative Core',
 'Crimson Cow',
 'Crystal Dynamics',
 'Culture Brain',
 'Culture Publishers',
 'CyberFront',
 'Cygames',
 'D3Publisher',
 'DHM Interactive',
 'DSI Games',
 'DTP Entertainment',
 'Daedalic',
 'Daedalic Entertainment',
 'Daito',
 'Data Age',
 'Data Design Interactive',
 'Data East',
 'Datam Polystar',
 'Deep Silver',
 'Destination Software, Inc',
 'Destineer',
 'Detn8 Games',
 'Devolver Digital',
 'DigiCube',
 'Disney Interactive Studios',
 'Dorart',
 'DreamCatcher Interactive',
 'DreamWorks Interactive',
 'Dusenberry Martin Racing',
 'EA Games',
 'EON Digital Entertainment',
 'ESP',
 'Easy Interactive',
 'Ecole',
 'Edia',
 'Eidos Interactive',
 'Electronic Arts',
 'Electronic Arts Victor',
 'Elf',
 'Elite',
 'Empire Interactive',
 'Encore',
 'Enix Corporation',
 'Enjoy Gaming ltd.',
 'Enterbrain',
 'Epic Games',
 'Epoch',
 'Ertain',
 'Essential Games',
 'Evolution Games',
 'Evolved Games',
 'Excalibur Publishing',
 'Experience Inc.',
 'Extreme Entertainment Group',
 'Falcom Corporation',
 'Fields',
 'Flashpoint Games',
 'Flight-Plan',
 'Focus Home Interactive',
 'Focus Multimedia',
 'Foreign Media Games',
 'Fortyfive',
 'Fox Interactive',
 'From Software',
 'FuRyu',
 'FuRyu Corporation',
 'Fuji',
 'FunSoft',
 'Funbox Media',
 'Funcom',
 'Funsta',
 'G.Rev',
 'GN Software',
 'GOA',
 'GSP',
 'GT Interactive',
 'Gaga',
 'Gainax Network Systems',
 'Gakken',
 'Game Arts',
 'Game Factory',
 'Game Life',
 'GameMill Entertainment',
 'GameTek',
 'Gamebridge',
 'Gamecock',
 'Gameloft',
 'Gathering of Developers',
 'General Entertainment',
 'Genki',
 'Genterprise',
 'Ghostlight',
 'Giga',
 'Giza10',
 'Glams',
 'Global A Entertainment',
 'Global Star',
 'Gotham Games',
 'Graffiti',
 'Grand Prix Games',
 'Graphsim Entertainment',
 'Gremlin Interactive Ltd',
 'Griffin International',
 'Groove Games',
 'GungHo',
 'Gust',
 'HAL Laboratory',
 'HMH Interactive',
 'Hackberry',
 'Hamster Corporation',
 'Happinet',
 'Harmonix Music Systems',
 'Hasbro Interactive',
 'Havas Interactive',
 'Headup Games',
 'Hearty Robin',
 'Hect',
 'Hello Games',
 'Her Interactive',
 'Hip Interactive',
 'Home Entertainment Suppliers',
 'Hudson Entertainment',
 'Hudson Soft',
 'Human Entertainment',
 'HuneX',
 'IE Institute',
 'ITT Family Games',
 'Iceberg Interactive',
 'Idea Factory',
 'Idea Factory International',
 'Ignition Entertainment',
 'Illusion Softworks',
 'Imadio',
 'Image Epoch',
 'Imageworks',
 'Imagic',
 'Imagineer',
 'Imax',
 'Indie Games',
 'Infogrames',
 'Insomniac Games',
 'Interchannel',
 'Interchannel-Holon',
 'Intergrow',
 'Interplay',
 'Interplay Productions',
 'Interworks Unlimited, Inc.',
 'Inti Creates',
 'Introversion Software',
 'Irem Software Engineering',
 'Ivolgamus',
 'JVC',
 'Jack of All Games',
 'Jaleco',
 'Jester Interactive',
 'JoWood Productions',
 'Jorudan',
 'Just Flight',
 'KID',
 'KSS',
 'Kadokawa Games',
 'Kadokawa Shoten',
 'Kaga Create',
 'Kalypso Media',
 'Kamui',
 'Kando Games',
 'Karin Entertainment',
 'Kemco',
 'Kids Station',
 'King Records',
 'Knowledge Adventure',
 'Koch Media',
 'Kokopeli Digital Studios',
 'Konami Digital Entertainment',
 'Kool Kizz',
 'LEGO Media',
 'LSP Games',
 'Laguna',
 'Legacy Interactive',
 'Level 5',
 'Lexicon Entertainment',
 'Licensed 4U',
 'Lighthouse Interactive',
 'Liquid Games',
 'Little Orbit',
 'Locus',
 'LucasArts',
 'MC2 Entertainment',
 'MLB.com',
 'MTO',
 'MTV Games',
 'Mad Catz',
 'Magical Company',
 'Magix',
 'Majesco Entertainment',
 'Mamba Games',
 'Marvel Entertainment',
 'Marvelous Entertainment',
 'Marvelous Games',
 'Marvelous Interactive',
 'Masque Publishing',
 'Mastertronic',
 'Mastiff',
 'Mattel Interactive',
 'Max Five',
 'Maximum Family Games',
 'Maxis',
 'Media Entertainment',
 'Media Factory',
 'Media Rings',
 'Media Works',
 'MediaQuest',
 'Men-A-Vision',
 'Mentor Interactive',
 'Mercury Games',
 'Merscom LLC',
 'Metro 3D',
 'Michaelsoft',
 'Micro Cabin',
 'Microids',
 'Microprose',
 'Microsoft Game Studios',
 'Midas Interactive Entertainment',
 'Midway Games',
 'Milestone',
 'Milestone S.r.l',
 'Milestone S.r.l.',
 'Minato Station',
 'Mindscape',
 'Mirai Shounen',
 'Misawa',
 'Mitsui',
 'Mojang',
 'Monte Christo Multimedia',
 'Moss',
 'Mud Duck Productions',
 'Mumbo Jumbo',
 'Mycom',
 'Myelin Media',
 'Mystique',
 'NCS',
 'NCSoft',
 'NDA Productions',
 'NEC',
 'NEC Interchannel',
 'Namco Bandai Games',
 'Natsume',
 'Navarre Corp',
 'Naxat Soft',
 'Neko Entertainment',
 'NetRevo',
 'New',
 'New World Computing',
 'NewKidCo',
 'Nexon',
 'Nichibutsu',
 'Nihon Falcom Corporation',
 'Nintendo',
 'Nippon Amuse',
 'Nippon Columbia',
 'Nippon Ichi Software',
 'Nippon Telenet',
 'Nitroplus',
 'Nobilis',
 'Nordcurrent',
 'Nordic Games',
 'NovaLogic',
 'Number None',
 'O-Games',
 'O3 Entertainment',
 'Ocean',
 'Office Create',
 'On Demand',
 'Ongakukan',
 'Origin Systems',
 'Otomate',
 'Oxygen Interactive',
 'P2 Games',
 'PM Studios',
 'PQube',
 'Pacific Century Cyber Works',
 'Pack In Soft',
 'Pack-In-Video',
 'Palcom',
 'Panther Software',
 'Paon',
 'Paon Corporation',
 'Paradox Development',
 'Paradox Interactive',
 'Parker Bros.',
 'Performance Designed Products',
 'Phantagram',
 'Phantom EFX',
 'Phenomedia',
 'Phoenix Games',
 'Piacci',
 'Pinnacle',
 'Pioneer LDC',
 'Play It',
 'PlayV',
 'Playlogic Game Factory',
 'Playmates',
 'Playmore',
 'Plenty',
 'Pony Canyon',
 'PopCap Games',
 'PopTop Software',
 'Popcorn Arcade',
 'Pow',
 'Princess Soft',
 'Prototype',
 'Psygnosis',
 'Quelle',
 'Quest',
 'Quinrose',
 'Quintet',
 'RED Entertainment',
 'RTL',
 'Rage Software',
 'Rain Games',
 'Rebellion',
 'Rebellion Developments',
 'Red Orb',
 'Red Storm Entertainment',
 'RedOctane',
 'Reef Entertainment',
 'Revolution (Japan)',
 'Revolution Software',
 'Rising Star Games',
 'Riverhillsoft',
 'Rocket Company',
 'Rondomedia',
 'Russel',
 'SCS Software',
 'SCi',
 'SNK',
 'SNK Playmore',
 'SPS',
 'SSI',
 'Sammy Corporation',
 'Saurus',
 'Scholastic Inc.',
 'Screenlife',
 'Sears',
 'Sega',
 'Seta Corporation',
 'Seventh Chord',
 'Shogakukan',
 'Simon & Schuster Interactive',
 'Slightly Mad Studios',
 'Slitherine Software',
 'Societa',
 'Sold Out',
 'Sonnet',
 'Sony Computer Entertainment',
 'Sony Computer Entertainment America',
 'Sony Computer Entertainment Europe',
 'Sony Music Entertainment',
 'Sony Online Entertainment',
 'SouthPeak Games',
 'Spike',
 'Square',
 'Square EA',
 'Square Enix',
 'SquareSoft',
 'Stainless Games',
 'Starfish',
 'Starpath Corp.',
 'Sting',
 'Storm City Games',
 'Strategy First',
 'Success',
 'Summitsoft',
 'Sunflowers',
 'Sunrise Interactive',
 'Sunsoft',
 'Sweets',
 'Swing! Entertainment',
 'Syscom',
 'System 3',
 'System 3 Arcade Software',
 'System Soft',
 'T&E Soft',
 'TDK Core',
 'TDK Mediactive',
 'TGL',
 'THQ',
 'TOHO',
 'TYO',
 'Taito',
 'Takara',
 'Takara Tomy',
 'Take-Two Interactive',
 'Takuyo',
 'TalonSoft',
 'Team17 Software',
 'TechnoSoft',
 'Technos Japan Corporation',
 'Tecmo Koei',
 'Telegames',
 'Telltale Games',
 'Telstar',
 'Tetris Online',
 'The Adventure Company',
 'The Learning Company',
 'Tigervision',
 'Time Warner Interactive',
 'Titus',
 'Tivola',
 'Tommo',
 'Tomy Corporation',
 'TopWare Interactive',
 'Touchstone',
 'Tradewest',
 'Trion Worlds',
 'Tripwire Interactive',
 'Tru Blu Entertainment',
 'Tryfirst',
 'Type-Moon',
 'U.S. Gold',
 'UEP Systems',
 'UFO Interactive',
 'UIG Entertainment',
 'Ubisoft',
 'Ubisoft Annecy',
 'Ultravision',
 'Universal Gamex',
 'Universal Interactive',
 'Unknown',
 'Valcon Games',
 'ValuSoft',
 'Valve',
 'Valve Software',
 'Vap',
 'Vatical Entertainment',
 'Vic Tokai',
 'Victor Interactive',
 'Video System',
 'Views',
 'Vir2L Studios',
 'Virgin Interactive',
 'Virtual Play Games',
 'Visco',
 'Vivendi Games',
 'Wanadoo',
 'Warashi',
 'Wargaming.net',
 'Warner Bros. Interactive Entertainment',
 'Warp',
 'WayForward Technologies',
 'Westwood Studios',
 'White Park Bay Software',
 'Wizard Video Games',
 'XS Games',
 'Xicat Interactive',
 'Xing Entertainment',
 'Xplosiv',
 'Xseed Games',
 'Yacht Club Games',
 'Yamasa Entertainment',
 'Yeti',
 "Yuke's",
 'Yumedia',
 'Zenrin',
 'Zoo Digital Publishing',
 'Zoo Games',
 'Zushi Games',
 'bitComposer Games',
 'dramatic create',
 'fonfun',
 'iWin',
 'id Software',
 'imageepoch Inc.',
 'inXile Entertainment',
 'mixi, Inc',
 'nan',
 'responDESIGN']

Unknown이라는 회사가 심상치 않아보인다.. 👀

In [68]:
df1[df1.Publisher=='Unknown']

          id                                        Name  ... JP_Sales  Other_Sales
30        31                 Kids Learn Music A+ Edition  ...        0            0
109      110  Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales)  ...     0.02            0
212      213                          Wild West Shootout  ...        0            0
358      359          Majesty 2: The Fantasy Kingdom Sim  ...        0            0
387      388                       Gummy Bears Mini Golf  ...        0            0
...      ...                                         ...  ...      ...          ...
16400  16401                                      Afrika  ...     0.08         0.01
16402  16403                               The Golf Club  ...        0            0
16425  16426                              Yoostar on MTV  ...        0            0
16432  16433                                 Bejeweled 3  ...        0         0.01
16500  16501                    The Dark Hills of Cherai  ...        0            0

[203 rows x 10 columns]

위의 각 게임들을 찾아보니 Publisher가 따로 존재하였다.  
ex) Wild West Shootout	-> Funbox Media Ltd.  
https://www.mobygames.com/ 참조  
Unknown을 결측치로 처리해야할 필요가 있어보인다

In [91]:
df2 = df1.copy()

In [92]:
df2[df2.Publisher =='Unknown']

          id                                        Name  ... JP_Sales  Other_Sales
30        31                 Kids Learn Music A+ Edition  ...        0            0
109      110  Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales)  ...     0.02            0
212      213                          Wild West Shootout  ...        0            0
358      359          Majesty 2: The Fantasy Kingdom Sim  ...        0            0
387      388                       Gummy Bears Mini Golf  ...        0            0
...      ...                                         ...  ...      ...          ...
16400  16401                                      Afrika  ...     0.08         0.01
16402  16403                               The Golf Club  ...        0            0
16425  16426                              Yoostar on MTV  ...        0            0
16432  16433                                 Bejeweled 3  ...        0         0.01
16500  16501                    The Dark Hills of Cherai  ...        0            0

[203 rows x 10 columns]

In [93]:
Unknown_index = df2[df2.Publisher =='Unknown'].index # Publisher가 Unknown인 데이터의 인덱스들
Unknown_index

Int64Index([   30,   109,   212,   358,   387,   605,   621,   685,   808,
              809,
            ...
            16145, 16164, 16195, 16240, 16278, 16400, 16402, 16425, 16432,
            16500],
           dtype='int64', length=203)

In [94]:
df2.loc[df2['Publisher']=='Unknown','Publisher'] = np.nan

In [95]:
df2.loc[Unknown_index, 'Publisher'] # Publisher가 Unknown 데이터들이 NaN으로 바뀌었음을 확인

30       NaN
109      NaN
212      NaN
358      NaN
387      NaN
        ...
16400    NaN
16402    NaN
16425    NaN
16432    NaN
16500    NaN
Name: Publisher, Length: 203, dtype: object

## 2.6 00_Sales
_Sales로 끝나는 변수들은 기본 단위가 M이지만 숫자만 있거나 M을 붙이거나 K가 붙어있기도 하다  
이를 모두 숫자만 있는 데이터로 바꿀 필요가 있으며 데이터 타입도 숫자형으로 바꿔야할 것 같다.

In [96]:
df2.columns

Index(['id', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales'],
      dtype='object')

In [97]:
sales_var = df2.columns[df2.columns.str.endswith('Sales')]
sales_var

Index(['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales'], dtype='object')

### 2.6.1 M,K 떼고 단위 맞추기

In [98]:
df2.NA_Sales.unique() # 기준 단위는 M인데 실제 M이 적혀있거나 K가 붙어있기도 하다

array(['0.04', '0.17', '0', '0.12', '0.02', '0.07', '480K', '0.14',
       '0.01', '0.57', '0.06', '0.08', '0.48', '0.03', '0.05', '1.93',
       '0.29', '0.19', '0.3', '0.26', '0.11', '0.18', '0.33', '0.51',
       '60K', '0.13', '0.52', '0.34', '0.25', '0.41', '0.22', '0.35',
       '0.1', '0.67', '0.59', '0.36', '0.21', '1.19', '5.91', '1.98',
       '0.09', '0K', '0.5', '0.94', '0.16', '0.63', '0.43', '0.2', '1.23',
       '0.44', '0.42', '0.97', '2.67', '0.28', '6.05', '0.47', '0.49',
       '0.62', '0.24', '0.72', '1.74', '0.46', '0.65', '0.32', '1.53',
       '0.23', '0.53', '0.37', '1.26', '0.39', '0.58', '1.94', '2.31',
       '1.03', '0.82', '0.4', '0.93', '0.56', '0.96', '1.64', '0.69',
       '1.25', '0.27', '0.92', '0.58M', '1.24', '0.25M', '0.86', '0.73',
       '0.55', '1.54', '1.02', '1.27', '0.54', '0.15', '1.09', '3.44',
       '2.29', '0.88', '5.55M', '1.37', '2.3', '0.99', '1.15', '0.98',
       '0.75', '0.74', '0.7', '0.14M', '0.45', '1.2', '1.41', '0.68',
       '1.23M', '1.56', '0.31', '1.45', '1.11', '2.9', '0M', '0.83',
       '0.78', '3.38', '0.64', '1.08', '0.38', '1.47', '0.06M', '0.77',
       '1.05', '6.85', '3.83', '3.79', '1.13M', '0.9', '3.78', '1.89',
       '1.17', '4.03', '0.89', '0.61', '0.71', '23.2', '1.44', '1.31',
       '3.06', '3.14', '1.66', '0.79', '1.39', '0.31M', '490K', '1.85',
       '0.76', '2.06', '1.36', '1.3', '1.06', '1.1', '240K', '2.08',
       '1.04', '0.66', '2.64', '1.58', '0.05M', '3.11', '4.34', '150K',
       '1.78', '0.85', '2.91', '0.13M', '1', '1.01', '4100K', '5170K',
       '1.07', '3.8', '2.5', '2.2', '1.5', '1.91', '0.95', '2.03', '2.1',
       '1.4', '3.18', '1.73', '1.12', '1.72', '2.05', '1.63', '1.22',
       '1.13', '1.49', '2.55', '0.87', '0.81', '0.6', '0.61M', '2.62',
       '0.84', '2.38', '1.32', '20K', '3.02', '1.75', '2.02', '1.82',
       '1.68', '9.03', '2.56', '1.87', '2.65', '1.48', '3.19', '1.33',
       '41.49', '30K', '1.16', '1.21', '0.02M', '2.52', '2.28', '5.99',
       '14.03', '2.93', '2.45', '0.11M', '2.14', '2.99', '0.01M', '2.6',
       '1.35', '0.36M', '50K', '1.28', '2.95', '70K', '1.86', '15.75',
       '1.18', '1.42', '8.94', '7.01', '190K', '1.57', '1.62', '0.91',
       '0.8', '2.09', '1.96', '1.52', '2.39', '1.79', '0.21M', '0.43M',
       '2.19', '1.43', '1.76', '2.78', '1.3M', '1.71', '29.08', '3.13',
       '3.1', '4.99', '4.23', '2.35', '14.97', '1.65', '1210K', '2.26',
       '3.64', '350K', '2.71', '3.49', '3.33', '1.46', '1.7', '4.4',
       '4.02', '2.53', '1610K', '2.01', '100K', '1.55', '4.47', '1.9',
       '2.25', '3.98', '2.51', '1.61', '1.84', '1.81', '170K', '8.41',
       '2.11', '2.74', '2.42', '3.92', '6.72', '2.54', '4', '0.9M', '40K',
       '2.12', '7.28', '2.13', '1.59', '1.88', '3.39', '450K', '2.96',
       '8.52', '2.82', '9.67', '7.97', '8.25', '1.67', '1.51', '6.91',
       '3.88', '3.27', '4.14', '1.92', '220K', '1.29', '2.04', '1.11M',
       '310K', '0.07M', '2.15', '6.16', '4.09', '11.38', '4.26', '1.69',
       '1.34', '820K', '2.17', '80K', '4.36', '2.8', '290K', '3.05',
       '130K', '5.39', '2.66M', '2.47', '4.15', '4.46', '1.18M', '11.27',
       '1.38', '3.66', '4.12', '0.55M', '2.41', '2.57', '2', '2.58',
       '5.89', '2.18', '1.99', '2.72', '2.36', '120K', '0.08M', '0.22M',
       '5.77', '3.68', '3.23', '5.84', '9', '2.85', '10.83', '6.82',
       '3.54', '0.3M', '0.04M', '3.42', '6.99', '1780K', '2930K', '1.14',
       '2.49', '5.98', '2.33', '1.97', '5.58', '0.15M', '0.1M', '3.7',
       '2.07', '4.41', '1.83', '0.29M', '4.98', '770K', '10K', '280K',
       '2.43', '26.93', '6.42', '3.81', '5.57', '9.81', '0.37M', '0.12M',
       '3.28', '3.74', '540K', '2.66', '9.09', '1.77', '9.63M', '6.06',
       '4.79', '2.59', '2.48', '0.34M', '2.97', '2.63', '4.74', '9.07',
       '0.26M', '3.51', '1.6', '5.03', '3.22', '3.01', '2.22', '2.77',
       '3.25', '550K', '2010K', '5.8', '3.59', '2.4', '1.95', '0.18M',
       '5.08', '2.84', '15.85', '7.03M', '4.89', '3.24', '4.01', '340K',
       '2.32', '3.4', '90K', '12.78', '2.21', '3.36', '4.75', '600K',
       '0.46M', '0.03M', '6.76', '2570K', '3', '4.05', '5.54', '0.72M',
       '2.75', '3.21', '6.63', '9.43', '3.03', '3.5', '2.7', '0.96M',
       '9.54', '6.75', '3.63', '270K', '420K', '0.28M', '2.79', '4.21',
       '2.23', '4.52', '0.45M', '720K', '2.89', '0.53M', '4.76', '470K',
       '14.59', '320K', '4.18'], dtype=object)

In [46]:
# df1[df1[sales_var[0]].str.contains('K|M')] # NA_Sales 중 K와 M이 포함된 자료

In [99]:
df2[sales_var].apply(lambda x : x.str.contains('K|M')) # 00_Sales 변수들 중 K 또는 M이 포함된 여부

       NA_Sales  EU_Sales  JP_Sales  Other_Sales
0         False     False     False        False
1         False     False     False        False
2         False     False     False        False
3         False     False     False        False
4         False     False     False        False
...         ...       ...       ...          ...
16593     False     False     False        False
16594     False     False     False        False
16595     False     False     False        False
16596     False     False     False        False
16597     False     False     False        False

[16598 rows x 4 columns]

In [100]:
df2[sales_var].apply(lambda x : x.str.contains('K|M')).sum() # 각 00_Sales 변수별 K 또는 M이 들어간 데이터의 갯수

NA_Sales       200
EU_Sales       200
JP_Sales       199
Other_Sales    200
dtype: int64

In [49]:
# df1[sales_var[0]][df1[sales_var[0]].str.contains('K|M')]

In [101]:
df2[sales_var[0]].str.contains('K|M')

0        False
1        False
2        False
3        False
4        False
         ...
16593    False
16594    False
16595    False
16596    False
16597    False
Name: NA_Sales, Length: 16598, dtype: bool

In [102]:
df2[df2[sales_var[0]].str.contains('K|M')][sales_var[0]]

10        480K
45         60K
145         0K
447      0.58M
458      0.25M
         ...
16330     720K
16408    0.53M
16482       0M
16492     470K
16578     320K
Name: NA_Sales, Length: 200, dtype: object

NA_Sales 중 K와 M이 포함된 데이터들은  
K가 있을 경우 이를 원 데이터의 단위에 맞추기 위해 K만 떼고 0.001을 곱해줘야했으며  
M이 있을 경우는 단순히 M을 떼기만 하면 된다.

In [103]:
df2[df2[sales_var[0]].str.contains('K|M')][sales_var[0]].replace({'K': '*1e-03', 'M': ''},regex=True).map(pd.eval).astype(float)

10       0.48
45       0.06
145      0.00
447      0.58
458      0.25
         ...
16330    0.72
16408    0.53
16482    0.00
16492    0.47
16578    0.32
Name: NA_Sales, Length: 200, dtype: float64

M이 있던 데이터들은 M만 사라지고  
K가 있던 데이터들은 K가 사라지고 0.001이 각각 곱해졌음을 알 수 있다.

한 열에 대해서 처리를 해봤고 이를 반복문을 통해서 실제 데이터 변수들을 변환해주면

In [105]:
df3 = df2.copy() # 데이터 달라질테니 복사

In [83]:
sales_var

Index(['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales'], dtype='object')

In [84]:
NA_index = df3.loc[df3.loc[:,'NA_Sales'].str.contains('K|M')]['NA_Sales'].index

반복문을 통해 한번에 수행해보면

In [106]:
for i,k in enumerate(sales_var):
    index= df3.loc[df3.loc[:,k].str.contains('K|M')][k].index
    df3.loc[index,k] = df3[df3[sales_var[i]].str.contains('K|M')][sales_var[i]].replace({'K': '*1e-03', 'M': ''},regex=True).map(pd.eval).astype(float)

In [107]:
df3[sales_var].apply(lambda x : x.str.contains('K|M')).sum() # K또는 M이 없다

NA_Sales       0.0
EU_Sales       0.0
JP_Sales       0.0
Other_Sales    0.0
dtype: float64

변환 전과 비교해보면

In [108]:
df2[df2[sales_var[0]].str.contains('K|M')].loc[:,sales_var]

      NA_Sales EU_Sales JP_Sales Other_Sales
10        480K    0.33M       0K        0.06
45         60K     0.08     0.16        0.03
145         0K     0.02        0           0
447      0.58M     0.47     0.01         0.1
458      0.25M     0.76     0.08        0.27
...        ...      ...      ...         ...
16330     720K     0.56        0        0.19
16408    0.53M     0.02        0        0.09
16482       0M        0     0.55           0
16492     470K     0.18        0        0.12
16578     320K     0.22        0        0.04

[200 rows x 4 columns]

In [110]:
df3.iloc[df2[df2[sales_var[0]].str.contains('K|M')][sales_var[0]].index].loc[:,sales_var]

      NA_Sales EU_Sales JP_Sales Other_Sales
10        0.48     0.33        0        0.06
45        0.06     0.08     0.16        0.03
145          0     0.02        0           0
447       0.58     0.47     0.01         0.1
458       0.25     0.76     0.08        0.27
...        ...      ...      ...         ...
16330     0.72     0.56        0        0.19
16408     0.53     0.02        0        0.09
16482        0        0     0.55           0
16492     0.47     0.18        0        0.12
16578     0.32     0.22        0        0.04

[200 rows x 4 columns]

### 2.6.2 데이터 타입 바꾸기
object -> float

In [117]:
df3[sales_var].apply(pd.to_numeric, errors='coerce')

       NA_Sales  EU_Sales  JP_Sales  Other_Sales
0          0.04      0.00      0.00         0.00
1          0.17      0.00      0.00         0.01
2          0.00      0.00      0.02         0.00
3          0.04      0.00      0.00         0.00
4          0.12      0.09      0.00         0.04
...         ...       ...       ...          ...
16593      0.15      0.04      0.00         0.01
16594      0.01      0.00      0.00         0.00
16595      0.44      0.19      0.03         0.13
16596      0.05      0.05      0.25         0.03
16597      0.00      0.00      0.16         0.01

[16598 rows x 4 columns]

In [118]:
df3[sales_var].apply(pd.to_numeric, errors='coerce').dtypes

NA_Sales       float64
EU_Sales       float64
JP_Sales       float64
Other_Sales    float64
dtype: object

In [119]:
df3.dtypes # 00_Sales 변수들 object 타입임을 확인

id               int64
Name            object
Platform        object
Year           float64
Genre           object
Publisher       object
NA_Sales        object
EU_Sales        object
JP_Sales        object
Other_Sales     object
dtype: object

In [120]:
df3[sales_var] = df3[sales_var].apply(pd.to_numeric, errors='coerce') # 할당

In [121]:
df3.dtypes # 00_Sales 변수들 float 타입임을 확인

id               int64
Name            object
Platform        object
Year           float64
Genre           object
Publisher       object
NA_Sales       float64
EU_Sales       float64
JP_Sales       float64
Other_Sales    float64
dtype: object

## 현재까지 전처리 상황

* df -> df : Unnamed: 0 -> id로 바꿔줌
* df -> df1 : Years에서 yy -> yyyy 형식으로 바꿈
* df1 -> df2 : Publisher에서 Unknown -> NaN으로 바꿈
* df2 -> df3 : 00_Sales 변수들의 단위를 맞춰주고(K 떼고 * 0.001, M 떼고)  / 00_Sales 변수들을 숫자형으로 바꿈

----------------
결측치 대체해줘야함

In [122]:
df3.dtypes # 각 항목별 데이터 타입 제대로 들어감

id               int64
Name            object
Platform        object
Year           float64
Genre           object
Publisher       object
NA_Sales       float64
EU_Sales       float64
JP_Sales       float64
Other_Sales    float64
dtype: object

In [123]:
df3.isnull().sum() # Year, Genre, Publisher 결측치 있음 확인

id               0
Name             0
Platform         0
Year           271
Genre           50
Publisher      261
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [127]:
sorted(df3.Year.unique()) # 모두 yyyy형식이고 결측치 있음 확인

[1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 nan,
 2016.0,
 2017.0,
 2020.0]

In [131]:
df3[sales_var].astype(str).apply(lambda x : x.str.contains('K|M')).sum() # K또는 M이 없다

NA_Sales       0
EU_Sales       0
JP_Sales       0
Other_Sales    0
dtype: int64

In [132]:
df2[df2[sales_var[0]].str.contains('K|M')].loc[:,sales_var] # 값이 잘 바뀌었는지 보기 위해 기존을 우선 확인해보면

      NA_Sales EU_Sales JP_Sales Other_Sales
10        480K    0.33M       0K        0.06
45         60K     0.08     0.16        0.03
145         0K     0.02        0           0
447      0.58M     0.47     0.01         0.1
458      0.25M     0.76     0.08        0.27
...        ...      ...      ...         ...
16330     720K     0.56        0        0.19
16408    0.53M     0.02        0        0.09
16482       0M        0     0.55           0
16492     470K     0.18        0        0.12
16578     320K     0.22        0        0.04

[200 rows x 4 columns]

In [133]:
print(df2.loc[10,'NA_Sales'],'->' ,df3.loc[10,'NA_Sales']) # K 떼어지고 0.001 곱해져 단위 M으로 맞춰짐
print(df2.loc[10,'EU_Sales'],'->' ,df3.loc[10,'EU_Sales']) # M 떼어짐
print(df2.loc[10,'Other_Sales'],'->' ,df3.loc[10,'Other_Sales']) # 일반 숫자는 그대로

480K -> 0.48
0.33M -> 0.33
0.06 -> 0.06

👌

# 결측치 대체

In [135]:
df3.isnull().sum() # Publisher의 Unknow을 nan으로 바꿔주어 처음 데이터의 결측치보다 늘어남

id               0
Name             0
Platform         0
Year           271
Genre           50
Publisher      261
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [136]:
df3.isnull().sum()[df3.isnull().sum() > 0].index # 결측치 있는 변수만 추출

Index(['Year', 'Genre', 'Publisher'], dtype='object')

In [138]:
null_var = df3.isnull().sum()[df3.isnull().sum() > 0].index
null_var

Index(['Year', 'Genre', 'Publisher'], dtype='object')

In [293]:
df3.isnull().any()

id             False
Name           False
Platform       False
Year            True
Genre           True
Publisher       True
NA_Sales       False
EU_Sales       False
JP_Sales       False
Other_Sales    False
dtype: bool

In [133]:
# df3[df3.isnull().any(axis = 1)] # 결측치 있는 행만 출력

          id  ... Other_Sales
31        32  ...        0.21
50        51  ...        0.05
109      110  ...        0.00
272      273  ...        0.00
273      274  ...        0.01
...      ...  ...         ...
16425  16426  ...        0.00
16431  16432  ...        0.01
16432  16433  ...        0.01
16555  16556  ...        0.01
16587  16588  ...        0.10

[357 rows x 10 columns]

In [135]:
# null_df = df3[df3.isnull().any(axis = 1)]

In [138]:
# null_df.Name.unique

<bound method Series.unique of 31                                         Rock Band
50                          Ape Escape: On the Loose
109       Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales)
272                               UK Truck Simulator
273      Jewel Link Chronicles: Mountains of Madness
                            ...
16425                                 Yoostar on MTV
16431              Cars: Mater-National Championship
16432                                    Bejeweled 3
16555                            Apache: Air Assault
16587                   Need for Speed Underground 2
Name: Name, Length: 357, dtype: object>

In [140]:
#  df3[~df3.isnull().any(axis = 1)]

          id  ... Other_Sales
0          1  ...        0.00
1          2  ...        0.01
2          3  ...        0.00
3          4  ...        0.00
4          5  ...        0.04
...      ...  ...         ...
16593  16594  ...        0.01
16594  16595  ...        0.00
16595  16596  ...        0.13
16596  16597  ...        0.03
16597  16598  ...        0.01

[16241 rows x 10 columns]

In [142]:
# notnull_df = df3[~df3.isnull().any(axis = 1)]

In [160]:
# notnull_df.Name.unique()

array(["Candace Kane's Candy Factory", 'The Munchables',
       'Otome wa Oanesama Boku ni Koi Shiteru Portable', ...,
       'White Album: Tsuzurareru Fuyu no Omoide', 'Minna no Chizu 2',
       'Rainbow Islands: Revolution'], dtype=object)

## 1st 시도

결측치가 있는 행들 중   
1. 시리즈가 있거나  ㅁㅁㅁ1, ㅁㅁㅁ2, ㅁㅁㅁ3,,,
2.이름은 같지만 다른 플랫폼이라면   
결측치를 채우기 쉽지 않을까 🧐

In [303]:
df3.sort_values(by=['Name'], axis = 0)

          id                                     Name  ... JP_Sales  Other_Sales
12910  12911                              '98 Koshien  ...     0.12         0.03
15930  15931               .hack//G.U. Vol.1//Rebirth  ...     0.17         0.00
7132    7133             .hack//G.U. Vol.2//Reminisce  ...     0.00         0.03
10647  10648  .hack//G.U. Vol.2//Reminisce (jp sales)  ...     0.16         0.00
13148  13149            .hack//G.U. Vol.3//Redemption  ...     0.17         0.00
...      ...                                      ...  ...      ...          ...
13964  13965                             uDraw Studio  ...     0.00         0.20
3062    3063             uDraw Studio: Instant Artist  ...     0.00         0.00
15021  15022             uDraw Studio: Instant Artist  ...     0.00         0.02
3562    3563               wwe Smackdown vs. Raw 2006  ...     0.00         0.41
215      216             ¡Shin Chan Flipa en colores!  ...     0.14         0.00

[16598 rows x 10 columns]

In [304]:
df4 = df3.sort_values(by=['Name'], axis = 0)

In [305]:
# df4.to_csv("df4.csv") # 직접 보면서 해봐야지

In [306]:
df4.head() # 인덱스도 df3 그래도 가져온 것 확인!

          id                                     Name  ... JP_Sales  Other_Sales
12910  12911                              '98 Koshien  ...     0.12         0.03
15930  15931               .hack//G.U. Vol.1//Rebirth  ...     0.17         0.00
7132    7133             .hack//G.U. Vol.2//Reminisce  ...     0.00         0.03
10647  10648  .hack//G.U. Vol.2//Reminisce (jp sales)  ...     0.16         0.00
13148  13149            .hack//G.U. Vol.3//Redemption  ...     0.17         0.00

[5 rows x 10 columns]

In [307]:
df4 = df4.reset_index(drop=True)

In [297]:
df4.head()

      id                                     Name  ... JP_Sales  Other_Sales
0  12911                              '98 Koshien  ...     0.12         0.03
1  15931               .hack//G.U. Vol.1//Rebirth  ...     0.17         0.00
2   7133             .hack//G.U. Vol.2//Reminisce  ...     0.00         0.03
3  10648  .hack//G.U. Vol.2//Reminisce (jp sales)  ...     0.16         0.00
4  13149            .hack//G.U. Vol.3//Redemption  ...     0.17         0.00

[5 rows x 10 columns]

In [302]:
df4.Name.str.split(":",expand = True) # 처음 열만 필요하겠다

                                             0                1     2
0                                  '98 Koshien             None  None
1                   .hack//G.U. Vol.1//Rebirth             None  None
2                 .hack//G.U. Vol.2//Reminisce             None  None
3      .hack//G.U. Vol.2//Reminisce (jp sales)             None  None
4                .hack//G.U. Vol.3//Redemption             None  None
...                                        ...              ...   ...
16593                             uDraw Studio             None  None
16594                             uDraw Studio   Instant Artist  None
16595                             uDraw Studio   Instant Artist  None
16596               wwe Smackdown vs. Raw 2006             None  None
16597             ¡Shin Chan Flipa en colores!             None  None

[16598 rows x 3 columns]

In [259]:
df4['series'] = df4.Name.str.split(":",expand = True).iloc[:,[0]] # : 기준 앞쪽을 series로 지정

In [260]:
df4[['series']]

                                        series
0                                  '98 Koshien
1                   .hack//G.U. Vol.1//Rebirth
2                 .hack//G.U. Vol.2//Reminisce
3      .hack//G.U. Vol.2//Reminisce (jp sales)
4                .hack//G.U. Vol.3//Redemption
...                                        ...
16593                             uDraw Studio
16594                             uDraw Studio
16595                             uDraw Studio
16596               wwe Smackdown vs. Raw 2006
16597             ¡Shin Chan Flipa en colores!

[16598 rows x 1 columns]

In [261]:
import re
df4['series'].apply(lambda x: re.sub(r'\d','', str(x)))

0                                     ' Koshien
1                     .hack//G.U. Vol.//Rebirth
2                   .hack//G.U. Vol.//Reminisce
3        .hack//G.U. Vol.//Reminisce (jp sales)
4                  .hack//G.U. Vol.//Redemption
                          ...
16593                              uDraw Studio
16594                              uDraw Studio
16595                              uDraw Studio
16596                    wwe Smackdown vs. Raw
16597              ¡Shin Chan Flipa en colores!
Name: series, Length: 16598, dtype: object

In [262]:
import re
df4['series'] = df4['series'].apply(lambda x: re.sub(r'\d','', str(x)))
df4

          id  ...                                  series
0      12911  ...                               ' Koshien
1      15931  ...               .hack//G.U. Vol.//Rebirth
2       7133  ...             .hack//G.U. Vol.//Reminisce
3      10648  ...  .hack//G.U. Vol.//Reminisce (jp sales)
4      13149  ...            .hack//G.U. Vol.//Redemption
...      ...  ...                                     ...
16593  13965  ...                            uDraw Studio
16594   3063  ...                            uDraw Studio
16595  15022  ...                            uDraw Studio
16596   3563  ...                  wwe Smackdown vs. Raw
16597    216  ...            ¡Shin Chan Flipa en colores!

[16598 rows x 11 columns]

In [263]:
print(len(df4.Name)) # 16598개의 데이터는 
print(len(df4.Name.unique()))  # 11493개의 게임이 있고
print(len(df4.series.unique())) # 8461개의 시리즈가 있다.

16598
11493
8461

In [264]:
null_df = df4[df4.isnull().any(axis = 1)]
null_df

          id  ...                                     series
147    11642  ...                                       AKB/
198     3185  ...               Action Man-Operation Extreme
214    10085  ...                               Advance Wars
217     5721  ...                                  Adventure
250     1797  ...                              Agarest Senki
...      ...  ...                                        ...
16405  15670  ...                              Yu Yu Hakusho
16412    110  ...  Yu-Gi-Oh! D's Wheelie Breakers (JP sales)
16498  13590  ...                                       Zero
16568   3136  ...                             eJay Clubworld
16596   3563  ...                     wwe Smackdown vs. Raw

[357 rows x 11 columns]

In [265]:
null_index = null_df.index
null_index

Int64Index([  147,   198,   214,   217,   250,   289,   317,   357,   383,
              384,
            ...
            16226, 16309, 16320, 16321, 16360, 16405, 16412, 16498, 16568,
            16596],
           dtype='int64', length=357)

In [266]:
df4.iloc[range(null_index[0]-5,null_index[0]+5),]

        id  ...                   series
142   8814  ...                      AIR
143   4348  ...                     AKB/
144   7328  ...                     AKB/
145  10957  ...                     AKB/
146   7311  ...                     AKB/
147  11642  ...                     AKB/
148  16320  ...                     AKB/
149   7802  ...                   AKB+Me
150  15590  ...             AMF Bowling
151  15511  ...  AMF Bowling Pinbusters!

[10 rows x 11 columns]

In [ ]:
sorted(df4.series.unique()) # 양얖 공백, /,

In [275]:
df4['series'] = df4['series'].apply(lambda x: x.strip())

In [276]:
print(len(df4.Name)) # 16598개의 데이터는 
print(len(df4.Name.unique()))  # 11493개의 게임이 있고
print(len(df4.series.unique())) # 양옆 공백 제거하니 8461개의 시리즈가 있다. -> 7930개의 시리즈로 줄음

16598
11493
7930

In [278]:
df4

          id  ...                                  series
0      12911  ...                               ' Koshien
1      15931  ...               .hack//G.U. Vol.//Rebirth
2       7133  ...             .hack//G.U. Vol.//Reminisce
3      10648  ...  .hack//G.U. Vol.//Reminisce (jp sales)
4      13149  ...            .hack//G.U. Vol.//Redemption
...      ...  ...                                     ...
16593  13965  ...                            uDraw Studio
16594   3063  ...                            uDraw Studio
16595  15022  ...                            uDraw Studio
16596   3563  ...                   wwe Smackdown vs. Raw
16597    216  ...            ¡Shin Chan Flipa en colores!

[16598 rows x 11 columns]

In [279]:
df4.iloc[null_index,:]

          id  ...                                     series
147    11642  ...                                       AKB/
198     3185  ...               Action Man-Operation Extreme
214    10085  ...                               Advance Wars
217     5721  ...                                  Adventure
250     1797  ...                              Agarest Senki
...      ...  ...                                        ...
16405  15670  ...                              Yu Yu Hakusho
16412    110  ...  Yu-Gi-Oh! D's Wheelie Breakers (JP sales)
16498  13590  ...                                       Zero
16568   3136  ...                             eJay Clubworld
16596   3563  ...                      wwe Smackdown vs. Raw

[357 rows x 11 columns]

In [ ]:
sorted(df4.series.unique()) # ! 와 / 살펴봐야겠다

In [288]:
[word for word in sorted(df4.series.unique()) if "/" in word]

['.hack//G.U. Vol.//Rebirth',
 '.hack//G.U. Vol.//Redemption',
 '.hack//G.U. Vol.//Reminisce',
 '.hack//G.U. Vol.//Reminisce (jp sales)',
 '.hack//Infection Part',
 '.hack//Link',
 '.hack//Mutation Part',
 '.hack//Outbreak Part',
 '.hack//Quarantine Part',
 '/ Summer +',
 'AC/DC LIVE',
 'AKB/',
 'ATV/Monster Truck Mayhem',
 'Battleship / Connect Four / Sorry! / Trouble',
 'Black/Matrix',
 'CandyLand / Chutes & Ladders / Memory',
 'Cartoon Network Block Party / Cartoon Network Speedway Double Pack',
 'Centipede / Breakout / Warlords',
 'Championship Manager /',
 'Championship Manager Season /',
 'ClayFighter  /',
 'Clue / Mouse Trap / Perfection / Aggravation',
 'Connect Four / Perfection / Trouble',
 "Disney's Hercules / Disney's The Jungle Book",
 "Disney's Tarzan / Disney's Aladdin in Nasira's Revenge / Disney's The Emperor's New Groove Action Game",
 'Dr. Mario / Puzzle League',
 'F/A-F Super Hornet',
 'Fate/Extra',
 'Fate/Extra CCC',
 'Fate/Stay Night [Réalta Nua]',
 'Fate/Tiger Colosseum',
 'Fate/Tiger Colosseum Upper',
 'Fate/Unlimited Codes',
 'Fate/Unlimited Codes Portable',
 'Fate/hollow ataraxia',
 'Fate/kaleid liner Prisma Illya',
 'Feel the Magic XY/XX',
 'Final Fantasy X / X- HD Remaster',
 'Final Fantasy X/X- HD Remaster',
 'Frisbee Disc Freestyle / Frisbee Disc Golf',
 'Gauntlet / Rampart',
 "Golden Nugget Casino / Texas Hold 'Em Double Pack",
 'IA/VT Colorful',
 'Iron Man / X-O Manowar in Heavy Metal',
 'Kadenz fermata//Akkord',
 'Kingdom Hearts / Days',
 'Largo Winch .// Commando Sar',
 'MLB K / NBA K Combo Pack',
 'Marble Madness / Klax',
 'Mega Man Battle Network  Blue / White Version',
 'Mega Man Star Force Dragon / Leo / Pegasus',
 'Millipede / Super Breakout / Lunar Lander',
 'MotoGP /',
 'Mousetrap / Operation / Simon',
 'Paperboy / Rampage',
 'Pokemon Black /Pokemon White',
 'Pokemon Black/Pokemon White',
 'Pokemon Diamond/Pokemon Pearl',
 'Pokemon FireRed/Pokemon LeafGreen',
 'Pokemon Gold/Pokemon Silver',
 'Pokemon HeartGold/Pokemon SoulSilver',
 'Pokemon Omega Ruby/Pokemon Alpha Sapphire',
 'Pokemon Red/Pokemon Blue',
 'Pokemon Ruby/Pokemon Sapphire',
 'Pokemon X/Pokemon Y',
 'Pokémon Beach Blank-out Blastoise / Go West Young Meowth Game Boy Advance Video',
 'Pokémon I Choose You / Squirtle Squad Game Boy Advance Video',
 "Pong / Asteroids / Yars' Revenge",
 'R/C Stunt Copter',
 'Ranma /',
 'Risk / Battleship / Clue',
 'Shrek / Shark Tale Game Boy Advance Video',
 'Shrek / Shrek  -in- Gameboy Advance Video',
 'Sorry! / Aggravation / Scrabble Junior',
 'Split/Second',
 'Spongebob Squarepants / Fairly Odd Parents Double Pack',
 'Spy Hunter / Super Sprint',
 'The Game of Life / Yahtzee / Payday',
 'The King of Fighters /',
 'Touch Detective  /',
 'UNO / Skip-Bo / UNO Freefall',
 'WCW/NWO Thunder',
 'WCW/nWo Revenge',
 'Xevious D/G+',
 'Yokai Watch  Ganso/Honke']

In [289]:
 [word for word in sorted(df4.series.unique()) if "!" in word]

['AMF Bowling Pinbusters!',
 'Adventures to Go!',
 'Aikatsu!  Idol Days',
 'Aikatsu! -nin no My Princess',
 'Aikatsu! Cinderella Lesson',
 'Aikatsu! My No. Stage!',
 'Akko ni Omakase! Brain Shock',
 "Alia's Carnival! Sacrament",
 'All Grown Up!',
 'All Grown Up! Express Yourself',
 'Amatsumi Sora ni! Kumo no Hatate ni',
 'AniMates!',
 'Aqua Panic!',
 'Arthur! Ready to Race',
 'Atsumare! Power Pro Kun no DS Koushien',
 "Bakusou Kyoudai Let's & Go!! Eternal Wings",
 'Baseball Blast!',
 'Bastard!! Utsuro Naru Kamigami no Utsuwa',
 'Battle & Get! Pokemon Typing DS',
 'Battleship / Connect Four / Sorry! / Trouble',
 'Beat Sketch!',
 'Beetle Adventure Racing!',
 'Big Ichigeki! Pachi-Slot Taikouryku Universal Museum',
 'Boing! Docomodake DS',
 'Bomberman Land Touch!',
 'Bust-A-Move Bash!',
 'Buzz! Brain of the UK',
 'Buzz! Junior',
 'Buzz! Master Quiz',
 'Buzz! Quiz TV',
 'Buzz! Quiz World',
 'Buzz! The BIG Quiz',
 'Buzz! The Hollywood Quiz',
 'Buzz! The Mega Quiz',
 'Buzz! The Music Quiz',
 'Buzz! The Schools Quiz',
 'Buzz! The Ultimate Music Quiz',
 'Card Fight!! Vanguard G',
 'Cardfight!! Vanguard',
 'Casual Mania!',
 'Chaos;Head - Love Chu*Chu!',
 'Cheer We Go!',
 'Chibi-Robo! Park Patrol',
 'Chibi-Robo! Plug into Adventure!',
 'Chibi-Robo! Zip Lash',
 'Chokkan! Asonde Relaxuma',
 'Chou!! Super Nep League DS',
 'Cho~ricchi! Tamagotchi no Puchi Puchi Omisecchi',
 'ChuChu Rocket!',
 'Cosmos Chaos!',
 'Crash Boom Bang!',
 'Crayon Shin-Chan Shokkugan! Densetsu o Yobu Omake Daiketsusen!!',
 'Daigasso! Band Brothers',
 'Daigasso! Band Brothers P',
 'Dance Sensation!',
 "Dance! It's Your Stage",
 'Denki Blocks!',
 'Densha De Go!',
 'Densha De Go!  Tsuukinhen',
 'Densha de Go! Shinkansen EX',
 'Densha de Go! Tokubetsu-hen',
 'Destroy All Humans!',
 'Destroy All Humans! Big Willy Unleashed',
 'Destroy All Humans! Path of the Furon',
 'Detana TwinBee Yahho! Deluxe Pack',
 'Disney Sing It! High School Musical',
 'Disney TH!NK Fast',
 'Doki Doki! PreCure Narikiri Life!',
 'DokiDoki Majo Shinpan!',
 'Dolly Kanon Dokidoki Tokimeki Himitsu no Ongaku Katsudou Start Desu!!',
 'Double Value!',
 'Downstream Panic!',
 'Downtown no Gaki no Tsukai Yaarahen de!! Zettai ni Tsukamatte Haikenai Gasu Kurobikari Land',
 'Durarara!! -way Standoff',
 'Durarara!! Relay',
 'Durarara!! way Standoff',
 'Emergency! Disaster Rescue Squad',
 'Even in a Game Listen to Me Girls. I Am Your Father!',
 'Festa!! Hyper Girls Party',
 'Fresh PreCure! Asobi Collection',
 'GachiTora! Abarenbou Kyoushi in High School',
 'Gallop & Ride!',
 'Game Hits!',
 'Game de Hakken!! Tamagotchi',
 'Games Explosion!',
 'Ganbare Goemon! Karakuri Douchuu',
 'Gekiatsu!! Pachi Game Tamashi',
 'Gekiatsu!! Pachi Game Tamashi Max',
 'Gekiatsu!! Pachi Game Tamashi Vol.',
 'Gitaroo Man Lives!',
 'Go Diego Go!',
 'Go Diego Go! Great Dinosaur Rescue',
 'Go Diego Go! Safari Rescue',
 'Go! Go! Hypergrind',
 'Go! Sudoku',
 'Go! Sudoku (JP sales)',
 'Go, Diego, Go!',
 'Go, Diego, Go! Safari Rescue',
 'Gochuumon wa Usagi Desu ka?? Wonderful Party!',
 'Gokuhou!! Mecha Mote Iinchou',
 'Gokujou!! Mecha Mote Iinchou',
 'Haikyu!! Cross Team Match!',
 'Haikyuu!! Tsunage! Itadaki no Keshiki!!',
 'Hands On! Tangrams',
 'Happiness! De-Lucks',
 'HappinessCharge PreCure! Kawarun Collection',
 'HatsuKare * Renai Debut Sengen!',
 'Hayate no Gotoku! Nightmare Paradise',
 'Hayate no Gotoku! Ojousama Produce Daisakusen Boku Iro ni Somare! Gakkou-Hen',
 'Hayate no Gotoku! Ojousama Produce Daisakusen Boku Iro ni Somare! Oyashiki-Hen',
 'Heart Catch PreCure! Oshare Collection',
 'Heathcliff! Frantic Foto',
 'Heathcliff! The Fast and the Furriest',
 'Hey Arnold! The Movie',
 'Hey You, Pikachu!',
 'Hi! Hamtaro - Little Hamsters,big Adventures',
 'Himoutou! Umaru-Chan',
 'Holy Invasion of Privacy, Badman! What Did I Do to Deserve This?',
 'Hooked! Again',
 'Hooked! Real Motion Fishing',
 'Hot Potato!',
 'Hot Shots Golf Fore!',
 'Hudson x GReeeeN Live!? DeeeeS!?',
 'Hurry Up Hedgehog!',
 'Intellivision Lives!',
 'Itoi Shigesato no Bass Tsuri No.  Ketteihan!',
 'Iza, Shutsujin! Koisen',
 'J-League Pro Soccer Club o Tsukurou!',
 'J-League Pro Soccer Club o Tsukurou!  Euro Plus',
 'J-League Pro Soccer Club wo Tsukurou!',
 'J.League Pro Soccer Club o Tsukurou!  Euro Plus',
 'Jambo! Safari Animal Rescue',
 'Jeopardy!',
 'Jeopardy! nd Edition',
 'Jissen Pachi-Slot Hisshouhou! Aladdin A',
 'Jissen Pachi-Slot Hisshouhou! Aladdin II Evolution',
 'Jissen Pachi-Slot Hisshouhou! Hokuto no Ken',
 'Jissen Pachi-Slot Hisshouhou! Hokuto no Ken SE',
 'Jissen Pachi-Slot Hisshouhou! Mister Magic Neo',
 'Jissen Pachi-Slot Hisshouhou! Moujuu-Oh S',
 'Jissen Pachinko Hisshouhou! CR Sakura Taisen',
 'Jissen Pachislot Hisshouhou! Hokuto no Ken DS',
 'Jissen Pachislot Hisshouhou! Hokuto no Ken DS SE',
 'Jissen Pachislot Hisshouhou! Hokuto no Ken Portable SE',
 'Jissen Pachislot Secrets! Fist of the North Star F - Seikimatsu Kyuuseishu Densetsu',
 'Jumping Flash!',
 'Just Sing!',
 'Just Sing! Vol.',
 'K-ON! Houkago Live!!',
 'K-On! After School Live!! HD Ver.',
 'Kaboom!',
 'Kaite Shabette Hajimeyou! Monster Farm DS',
 'Katekyoo Hitman Reborn Nerae!? Ring x Bongole Returns',
 'Katekyoo Hitman Reborn! Battle Arena',
 'Katekyoo Hitman Reborn! Battle Arena  - Spirits Burst',
 'Katekyoo Hitman Reborn! DS',
 'Katekyoo Hitman Reborn! DS Fate of Heat III - Yuki no Shugosha Raishuu!',
 'Katekyoo Hitman Reborn! DS Flame Rumble X - Mirai Chou-Bakuhatsu!!',
 'Katekyoo Hitman Reborn! DS Flame Rumble XX - Kessen! Shin  Chouka',
 'Katekyoo Hitman Reborn! Dream Hyper Battle!',
 'Katekyoo Hitman Reborn! Dream Hyper Battle! Wii',
 'Katekyoo Hitman Reborn! Kindan no Yami no Delta',
 'Katekyoo Hitman Reborn! Kizuna no Tag Battle',
 "Katekyoo Hitman Reborn!! Let's Ansatsu!? Nerawareta  Daime!",
 'Kidz Bop Dance Party! The Video Game',
 'Kiku! Kaku! Kotoba o Fuyasu! Hajimete no Eigo Training',
 'Kinect Adventures!',
 'Konjiki no Gashbell!! Makai no Bookmark',
 "Let's Draw!",
 "Let's Make a Soccer Team!",
 "Let's Pilates!",
 "Let's Ride! Dreamer",
 "Let's Ride! Friends Forever",
 "Let's Ride! Silver Buckle Stables",
 "Let's Yoga!",
 'Little Busters! Converted Edition',
 'Love Live! School Idol Paradise',
 "M&M's Blast!",
 'Mad Maestro!',
 'Mahou Sensei Negima! Kagai Jugyou ~Otome no Dokidoki Beachside~',
 'Mahou Sensei Negima! Private Lesson',
 'Mahou Sensei Negima!? Neo-Pactio Fight!!',
 'Mamoru-kun wa Norowarete Shimatta!',
 'Meccha! Taiko no Tatsujin Master DS',
 'Mesaze!! Tsuri Master',
 'Metal Gear Ac!d',
 'Mezase!! Tsuri Master DS',
 'Midnight Play! Pack',
 "Mike Tyson's Punch-Out!!",
 'Minna to Kimi no Piramekino!',
 'Mitsukete! Keroro Gunsou',
 'Moero! Nekketsu Rhythm Damashii',
 'Mojo!',
 'Monkey Mischief! Party Time',
 'Monster! Bass Fishing',
 'Motion Explosion!',
 'Motto Hayaku! Seikaku Ni! Suu Sense Keisan Ryuoku Up Training - SuuTore',
 'Motto NUGA-CEL!',
 'Motto! SoniComi',
 'Motto! Stitch! DS Rhythm de Rakugaki Daisakusen',
 'Mr. Do!',
 "Mr. Do!'s Castle",
 'Mucha Lucha! Mascaritas of the Lost Code',
 'Nanatsuiro * Drops Pure!!',
 'NatGeo Challenge! Wild Life',
 'National Geographic Challenge!',
 'Nazotoki Battle Tore! Densetsu no Makyuu o Fukkatsu Saseyo!',
 'Negima!? -Jikanme ~Koi to Mahou to Sekaiju Densetsu~',
 'Negima!? Chou Mahora Taisen Chuu',
 'Negima!? Chou Mahora Taisen Kattoiin, Keiyaku Shikkou Dechai masuu',
 'Negima!? Dream Tactic Yumemiru Otome Princess',
 'Netsu Chu! Pro Yakyuu',
 'Nettou! Powerful Koushien',
 'New Play Control! Donkey Kong Jungle Beat',
 'New Play Control! Mario Power Tennis',
 'New Play Control! Pikmin',
 'Nippon Daihyou Team no Kantoku ni Narou! Sekaihatsu Soccer RPG',
 'No Fate! Only the Power of Will',
 'No One Can Stop Mr. Domino!',
 'Nova Usagi no Game de Ryuugaku!? DS',
 "Now! That's What I Call Music",
 'OK! Puzzle Stars',
 'OZMAFIA!! -vivace-',
 'Okaeri! Chibi-Robo! Happy Richie Oosouji',
 'Onigokko! Portable',
 'Order Up!',
 'Order Up!!',
 'Orega Kantoku Da! Gekitou Pennant Race',
 'Osu! Tatakae! Ouendan',
 'Otometeki Koi Kakumei * Love Revo! Portable',
 'Otometeki Koi Kakumei * Love Revo!! DS',
 'Our House Party!',
 'Pandemonium!',
 'Parlor! Mini',
 'Pia Carrot e Youkoso!! .',
 'Pilot ni Narou!',
 'Pitfall!',
 'Pokemon Trozei!',
 'Pop Cutie! Street Fashion Simulation',
 'Pop Cutie! Street Fashion Simulation (JP sales)',
 "Pop'n Music  Fever!",
 'PopCap Hits!',
 'PopCap Hits! Vol',
 'Practise English!',
 "Pretty Cure All Stars Everyone Gather ? Let's Dance!",
 'PriPara Mezase! Idol Grand Prix No.!',
 'Princess Saver! Eternal Love for My Lady',
 'Pro Yakyuu Team o Tsukurou!',
 'Punch-Out!!',
 'Puyo Puyo! th Anniversary',
 'Puyo Puyo!! th Anniversary',
 'Quiz Present Variety Q-Sama!! DS',
 'Quiz! Hexagon II',
 'Rakushou! Pachi-Slot Sengen',
 'Rapala Tournament Fishing!',
 'Rat Attack!',
 'Raw Danger!',
 'Raw Danger! (JP sales)',
 'Really? Really! DS',
 'Ro-Kyu-Bu!',
 'Ro-Kyu-Bu! Lost Secret',
 'Ro-Kyu-Bu! Secret Photo Op',
 'Roogoo Attack!',
 'Ryu Ga Gotoku Kenzan!',
 'Sakigake!! Otokojuku - Nihon yo, Kore ga Otoko Dearu!',
 "Santa Claus Is Comin' to Town!",
 'Saru! Get You! Million Monkeys',
 'Saru! Get You! Pipo Saru Senki',
 'Saru! Get You! SaruSaru Daisakusen',
 'Scene It? Bright Lights! Big Screen!',
 'Scooby-Doo! Classic Creep Capers',
 'Scooby-Doo! First Frights',
 'Scooby-Doo! Mystery Mayhem',
 'Scooby-Doo! Night of  Frights',
 'Scooby-Doo! Unmasked',
 "Scooby-Doo! Who's Watching Who?",
 'Scooby-Doo! and the Spooky Swamp',
 'Scrabble Blast!',
 'Sekai no Gohan Shaberu! DS Oryouri Navi',
 'Sekai no Hate Made Itte Q! Chinjuu Hunter Mono no Daibouken',
 'Shaberu! DS Oryouri Navi',
 'Shin Chan Contra ¡Los Plastas!',
 'Shinken de Watashi ni Koi Shinasai! R',
 "Shonen Jump's Yu-Gi-Oh! GX Card Almanac",
 'Shugo Chara! -tsu no Tamagoto Koisuru Joker',
 'Shugo Chara! Amunonijiro Chara Change',
 'Shutsugeki! Otometachi no Senjou',
 "Sid Meier's Pirates!",
 "Sid Meier's Railroads!",
 'Simple  Series Portable!! Vol.',
 'SingStar Rocks!',
 'Slam Dunk SD Heat Up!!',
 "Smile PreCure! Let's Go! Marchen World",
 'Sorry! / Aggravation / Scrabble Junior',
 'Sousaku Alice to Oujisama!',
 'Spanish for Everyone!',
 'Spelling Challenges and more!',
 'Start the Party!',
 'Start the Party! Save the World',
 'Storm Lover Kai!!',
 'StormLover Karen!!',
 'Sugar + Spice! Anoko no Suteki na Nanimokamo',
 'Suggoi! Arcana Heart',
 'Sunday vs Magazine Shuuketsu! Choujou Daikessen',
 'Super Collapse!',
 'Super Collapse! II',
 'Super Run For Money Tousouchuu Atsumare! Saikyou no Tousou Monotachi',
 'TNA iMPACT!',
 'Taiho Shichauzo!',
 'Tamagotchi Party On!',
 'Tamagotchi no Appare! Niji Venture',
 'Tank! Tank! Tank!',
 'Tenchi Muyou! Ryoukouki Gokuraku',
 'Tennis no Oji-Sama Gyutto! DokiDoki Survival - Umi to Yama no Love Passion',
 'The Rub Rabbits!',
 'The Treasures of Mystery Island  Pack - Save Mystery Island!',
 'Timeshock! Pro Pinball',
 'Tobidase! Kagaku-kun Chikyuu Daitanken! Nazo no Chinkai Seibutsu ni Idome!',
 'Tomba!',
 'ToraDora Portable!',
 'Totaled!',
 'Totally Spies!',
 'Totally Spies! Totally Party',
 'Tottadoo! Yoiko no Mujintou Seikatsu',
 'Touch Shot! Love Application',
 'Toy Story Mania!',
 'Twinkle * Crusaders GoGo!',
 'WWE SmackDown! Here Comes the Pain',
 'WWE SmackDown! Shut Your Mouth',
 'WWE SmackDown! vs. RAW',
 'WWE SmackDown! vs. Raw',
 'WWF SmackDown!',
 'WWF SmackDown! Just Bring It',
 'Walk it Out!',
 'WarioWare Touched!',
 'We Love Golf!',
 'We Sing Pop!',
 'We Sing Rock!',
 'Whacked!',
 'What Did I Do to Deserve This, My Lord!?',
 'Wicked Monster Blast!',
 'Wii de Asobu Chibi-Robo!',
 'Wonder Pets! Save the Animals!',
 'Yes! PreCure',
 'Yes! Precure  Go Go Zenin Shu Go! Dream Festival',
 'Yu-Gi-Oh!  Trials to Glory',
 'Yu-Gi-Oh! Capsule Monster Coliseum',
 "Yu-Gi-Oh! D's",
 "Yu-Gi-Oh! D's Stardust Accelerator",
 "Yu-Gi-Oh! D's Tag Force",
 "Yu-Gi-Oh! D's Wheelie Breakers",
 "Yu-Gi-Oh! D's Wheelie Breakers (JP sales)",
 "Yu-Gi-Oh! D's World Championship",
 "Yu-Gi-Oh! D's World Championship  Reverse of Arcadia",
 'Yu-Gi-Oh! Dark Duel Stories',
 'Yu-Gi-Oh! Destiny Board Traveler',
 'Yu-Gi-Oh! Double Pack',
 'Yu-Gi-Oh! Duel Monsters',
 'Yu-Gi-Oh! Duel Monsters II',
 'Yu-Gi-Oh! Dungeon Dice Monsters',
 'Yu-Gi-Oh! Forbidden Memories',
 'Yu-Gi-Oh! Forbidden Memories (JP sales)',
 'Yu-Gi-Oh! GX',
 'Yu-Gi-Oh! Monster Capsule Breed & Battle',
 'Yu-Gi-Oh! Monster Capture GB',
 'Yu-Gi-Oh! Nightmare Troubadour (JP sales)',
 'Yu-Gi-Oh! Nightmare Troubadour (US sales)',
 'Yu-Gi-Oh! Reshef of Destruction',
 'Yu-Gi-Oh! The Dawn of Destiny',
 'Yu-Gi-Oh! The Duelists of the Roses',
 'Yu-Gi-Oh! The Eternal Duelist Soul',
 'Yu-Gi-Oh! The Eternal Duelist Soul (JP sales)',
 'Yu-Gi-Oh! The Falsebound Kingdom',
 'Yu-Gi-Oh! The Sacred Cards',
 'Yu-Gi-Oh! The Sacred Cards (American and Others sales)',
 'Yu-Gi-Oh! The Sacred Cards (JP weekly sales)',
 'Yu-Gi-Oh! Ultimate Masters',
 'Yu-Gi-Oh! World Championship',
 'Yu-Gi-Oh! World Championship Tournament',
 'Yu-Gi-Oh! Worldwide Edition',
 'Yu-Gi-Oh! Zexal World Duel Carnival',
 'Zatch Bell! Electric Arena',
 'Zatch Bell! Mamodo Battles',
 'Zatch Bell! Mamodo Fury',
 'Zoobles! Spring to Life!',
 'Zwei!!',
 'de Hakken! Tamagotchi Minna de Tamagotchi World',
 'th!nk Logic Trainer',
 'thinkSMART FAMILY!',
 '¡Shin Chan Flipa en colores!']

갑자기 드는 생각 : 애초에 특수문자들을 모두 한 칸 띈 공백으로 처리하고 앞의 두 단어를 각각 series와 etc로 둔 뒤 serires를 기준으로 하되 etc를 참고하면 되지 않을까 싶다.

## 2nd 시도

In [312]:
df4 = df3.sort_values(by=['Name'], axis = 0).reset_index(drop=True)
df4

          id                                     Name  ... JP_Sales  Other_Sales
0      12911                              '98 Koshien  ...     0.12         0.03
1      15931               .hack//G.U. Vol.1//Rebirth  ...     0.17         0.00
2       7133             .hack//G.U. Vol.2//Reminisce  ...     0.00         0.03
3      10648  .hack//G.U. Vol.2//Reminisce (jp sales)  ...     0.16         0.00
4      13149            .hack//G.U. Vol.3//Redemption  ...     0.17         0.00
...      ...                                      ...  ...      ...          ...
16593  13965                             uDraw Studio  ...     0.00         0.20
16594   3063             uDraw Studio: Instant Artist  ...     0.00         0.00
16595  15022             uDraw Studio: Instant Artist  ...     0.00         0.02
16596   3563               wwe Smackdown vs. Raw 2006  ...     0.00         0.41
16597    216             ¡Shin Chan Flipa en colores!  ...     0.14         0.00

[16598 rows x 10 columns]

In [321]:
df4.Name.str.split("/|!|:",expand = True) # /, !, : 를 구분으로 나눠줌

                                0                1   ...    9     10
0                      '98 Koshien             None  ...  None  None
1                            .hack                   ...  None  None
2                            .hack                   ...  None  None
3                            .hack                   ...  None  None
4                            .hack                   ...  None  None
...                            ...              ...  ...   ...   ...
16593                 uDraw Studio             None  ...  None  None
16594                 uDraw Studio   Instant Artist  ...  None  None
16595                 uDraw Studio   Instant Artist  ...  None  None
16596   wwe Smackdown vs. Raw 2006             None  ...  None  None
16597  ¡Shin Chan Flipa en colores                   ...  None  None

[16598 rows x 11 columns]

In [320]:
df4.Name.apply(lambda x: x.replace(" ","")).str.split("/|!|:",expand = True) # 공백을 제거한 뒤 /, !, : 기준으로 나눠줌

                            0              1          2   ...    8     9     10
0                   '98Koshien           None       None  ...  None  None  None
1                        .hack                 G.U.Vol.1  ...  None  None  None
2                        .hack                 G.U.Vol.2  ...  None  None  None
3                        .hack                 G.U.Vol.2  ...  None  None  None
4                        .hack                 G.U.Vol.3  ...  None  None  None
...                        ...            ...        ...  ...   ...   ...   ...
16593              uDrawStudio           None       None  ...  None  None  None
16594              uDrawStudio  InstantArtist       None  ...  None  None  None
16595              uDrawStudio  InstantArtist       None  ...  None  None  None
16596   wweSmackdownvs.Raw2006           None       None  ...  None  None  None
16597  ¡ShinChanFlipaencolores                      None  ...  None  None  None

[16598 rows x 11 columns]

In [327]:
df4

          id                                     Name  ... JP_Sales  Other_Sales
0      12911                              '98 Koshien  ...     0.12         0.03
1      15931               .hack//G.U. Vol.1//Rebirth  ...     0.17         0.00
2       7133             .hack//G.U. Vol.2//Reminisce  ...     0.00         0.03
3      10648  .hack//G.U. Vol.2//Reminisce (jp sales)  ...     0.16         0.00
4      13149            .hack//G.U. Vol.3//Redemption  ...     0.17         0.00
...      ...                                      ...  ...      ...          ...
16593  13965                             uDraw Studio  ...     0.00         0.20
16594   3063             uDraw Studio: Instant Artist  ...     0.00         0.00
16595  15022             uDraw Studio: Instant Artist  ...     0.00         0.02
16596   3563               wwe Smackdown vs. Raw 2006  ...     0.00         0.41
16597    216             ¡Shin Chan Flipa en colores!  ...     0.14         0.00

[16598 rows x 10 columns]

In [328]:
df5 = df4.copy()

In [329]:
df5['series'] = df5.Name.apply(lambda x: x.replace(" ","")).str.split("/|!|:",expand = True) .iloc[:,[0]] # 시리즈 변수 생성
df5

          id  ...                   series
0      12911  ...               '98Koshien
1      15931  ...                    .hack
2       7133  ...                    .hack
3      10648  ...                    .hack
4      13149  ...                    .hack
...      ...  ...                      ...
16593  13965  ...              uDrawStudio
16594   3063  ...              uDrawStudio
16595  15022  ...              uDrawStudio
16596   3563  ...   wweSmackdownvs.Raw2006
16597    216  ...  ¡ShinChanFlipaencolores

[16598 rows x 11 columns]

In [330]:
import re
df5['series'] = df5['series'].apply(lambda x: re.sub(r'\d','', str(x))) # 숫자도 제거
df5

          id  ...                   series
0      12911  ...                 'Koshien
1      15931  ...                    .hack
2       7133  ...                    .hack
3      10648  ...                    .hack
4      13149  ...                    .hack
...      ...  ...                      ...
16593  13965  ...              uDrawStudio
16594   3063  ...              uDrawStudio
16595  15022  ...              uDrawStudio
16596   3563  ...       wweSmackdownvs.Raw
16597    216  ...  ¡ShinChanFlipaencolores

[16598 rows x 11 columns]

In [331]:
print(len(df5.Name)) # 16598개의 데이터는 
print(len(df5.Name.unique()))  # 11493개의 게임이 있고
print(len(df5.series.unique())) # 7731개의 시리즈가 있다.

16598
11493
7731

In [ ]:
sorted(df5.series.unique())

In [334]:
null_df = df5[df5.isnull().any(axis = 1)]
null_df

          id  ...                      series
147    11642  ...                         AKB
198     3185  ...  ActionMan-OperationExtreme
214    10085  ...                 AdvanceWars
217     5721  ...                   Adventure
250     1797  ...                AgarestSenki
...      ...  ...                         ...
16405  15670  ...                 YuYuHakusho
16412    110  ...                    Yu-Gi-Oh
16498  13590  ...                        Zero
16568   3136  ...               eJayClubworld
16596   3563  ...          wweSmackdownvs.Raw

[357 rows x 11 columns]

In [337]:
null_index = null_df.index
null_index

Int64Index([  147,   198,   214,   217,   250,   289,   317,   357,   383,
              384,
            ...
            16226, 16309, 16320, 16321, 16360, 16405, 16412, 16498, 16568,
            16596],
           dtype='int64', length=357)

In [335]:
df5.iloc[range(null_index[0]-5,null_index[0]+5),]

        id  ...                series
142   8814  ...                   AIR
143   4348  ...                   AKB
144   7328  ...                   AKB
145  10957  ...                   AKB
146   7311  ...                   AKB
147  11642  ...                   AKB
148  16320  ...                   AKB
149   7802  ...                AKB+Me
150  15590  ...            AMFBowling
151  15511  ...  AMFBowlingPinbusters

[10 rows x 11 columns]

In [342]:
null_var = df5.isnull().sum()[df5.isnull().sum() > 0].index
null_var # 결측치가 있는 변수들

Index(['Year', 'Genre', 'Publisher'], dtype='object')

In [343]:
null_var[1]

'Genre'

In [341]:
df5[df5.isnull().any(axis = 1)] # 결측치가 있는 행들

          id  ...                      series
147    11642  ...                         AKB
198     3185  ...  ActionMan-OperationExtreme
214    10085  ...                 AdvanceWars
217     5721  ...                   Adventure
250     1797  ...                AgarestSenki
...      ...  ...                         ...
16405  15670  ...                 YuYuHakusho
16412    110  ...                    Yu-Gi-Oh
16498  13590  ...                        Zero
16568   3136  ...               eJayClubworld
16596   3563  ...          wweSmackdownvs.Raw

[357 rows x 11 columns]

In [336]:
f = lambda x:  x.mode().iloc[0]

In [ ]:
df5[null_var[1]] = df5[null_var[1]].fillna(df.groupby('G').transform(f))